<form action="" method="post">
  <header>Log in or Sign up</header>
  <h3>Welocome To Airbnb</h3>
  <label for="phone">country/Region</label>
  <input id="phone" type="number" name="phone" placeholder="Phone number" required />

<p>We’ll call or text you to confirm your number. Standard message and data rates apply.<a> Privacy Policy</a></p>
  <button type="submit">Continue</button>
<hr>
<span>Or</span>
<hr>

  <button type="button">Facebook</button>
  <button type="button">Google</button>
  <button type="button">Apple</button>

</form>
