<div class="w-full flex items-center justify-center mt-4">
<div class="flex items-center bg-white border shadow-md rounded-full px-4 py-2 gap-4 w-full max-w-3xl">
<button class="flex flex-col text-left">
<span class="text-xs font-bold">Where</span>
<span class="text-gray-500 text-xs">Search destinations</span>
</button>


<div class="border-l h-6"></div>


<button class="flex flex-col text-left">
<span class="text-xs font-bold">Check in</span>
<span class="text-gray-500 text-xs">Add dates</span>
</button>


<div class="border-l h-6"></div>


<button class="flex flex-col text-left">
<span class="text-xs font-bold">Check out</span>
<span class="text-gray-500 text-xs">Add dates</span>
</button>


<div class="border-l h-6"></div>


<button class="flex flex-col text-left">
<span class="text-xs font-bold">Who</span>
<span class="text-gray-500 text-xs">Add guests</span>
</button>


<button class="bg-red-500 text-white px-4 py-2 rounded-full text-xs hover:bg-red-600">
Search
</button>
</div>
</div>